# nix build result
/result

# PyCache
__pycache__/

# Poetry
dist/

# Setuptools
*.egg-info/
.eggs/

# MyPy
.mypy_cache/

# PyTest
.pytest_cache/

# CodeCov
.coverage
.coverage.*
coverage.xml
htmlcov/

# Ruff
.ruff_cache

# CI
.github
